.login-page {
  padding-top: 98rpx;
  min-height: 100vh;
  background-color: #fff;
  background-image: url('http://120.25.56.43/file/base/wechat/wechatp2.png');
  background-position: center;
  background-size: cover;
  
  .logo {
    text-align: center;

    image {
      width: 128rpx;
      height: 128rpx;
      }
  }
  
  .form {
    margin-top: 60px;

    .border {
      border-bottom: 1px solid #f7f7f7;
    }

    .item {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 0 30px;


      .icon {
        flex: 1;

        image {
          width: 18px;
          height: 20px;
        }
      }

      .ipt {
        flex: 6;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
      }
    }
  }

  .btn {
    width: 100%;
    border-radius: 50px;
    background-color: #febd01;
    text-align: center;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
  }

}
